export MONGO_PORT=3002
export MONGO_IP={{hostvars.server1.ansible_host}}
export MONGO_USER={{mongodb_user}}
export MONGO_PASSWORD={{mongodb_pass}}
export MAIL_USER={{mail_user}}
export MAIL_PASSWORD={{mail_password}}
export MAIL_SMTP={{mail_smtp}}
cd /home/ubuntu/checkbox/server-side/site
node server.js